h2{
    text-align: center;
}

.card{
    display: flex;
    margin: 20px;
    flex-direction: row;
    flex-wrap: wrap;
}

.card-hija{
    border: solid 2px $coloruno;
    margin: 10px;
    background-color: $coloruno;
flex: 1;
border-radius: 6px;
box-shadow: 10px 10px 10px 10px gray;



}






.img-index{
    width: 300px;
    margin-left: 55px;
    margin-top: 30px;
    margin-bottom: 20px;
    border-radius: 4px;}
